<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio - Centro Materno</title>
        <link rel="stylesheet" href="estilos.css"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="estilos.css" type="text/css"/>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://kit.fontawesome.com/2037e46968.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="cabecera">
            <nav class="navbar" style="background-color: #629ba8;">
                <img class= "logo" src="https://cdn-icons-png.flaticon.com/512/2966/2966327.png" alt="logo-de-pagina">               
                <div class="dropdown">
                    <button class="btn dropdown-toggle drop" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sobre nosotros
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#horarios">Horarios</a></li>
                      <li><a class="dropdown-item" href="#especialidades">Especialidades</a></li>
                      <li><a class="dropdown-item" href="#sobre-nosotros">Misión y visión</a></li>
                    </ul>
                  </div>
                <a class="nav-link" href="#contacto">Contáctanos</a>
                <a class="btn btn-secondary" href="listado.jsp">Prueba</a> 
                <a class="btn btn-primary" href="login.jsp">Inicia sesión</a>
                <a class="btn btn-light" href="registro.jsp">Regístrate</a>
            </nav>
        </header>
        <main>  
            <section class="principal" id="principal">
                <div class="central">                   
                    <div class="central1">
                        <img class= "img-central" src="https://img.freepik.com/vector-gratis/equipo-profesionales-salud_23-2148492207.jpg" alt="imagen-central">
                    </div>   
                    <div class="central2">
                        <h1>CENTRO MATERNO INFANTIL MIGUEL GRAU</h1>
                        <p>Porque tu salud es nuestra prioridad</p>
                        <a class="btn btn-primary">Agenda tu cita</a>
                    </div>             
                </div>
               
            </section>
            <section class="horarios" id="horarios">   
                <img src="https://www.petroperu.com.pe/Storage/modsnw/image/2131-s1Dy7Ll7Bo8Lj5F.jpeg" class="img-horarios">
                <div class="horariodiv">
                    <h2 class="horarioh2">¿Conoces nuestros horarios?</h2>
                    <div class="horariocard">
                        <div class="horariocard1">
                            <h4>Horario del establecimiento</h4>
                            <p>Lun a Sab de 08:00 a 20:00 hrs.</p>
                        </div>
                        <div class="horariocard1">
                            <h4>Horarios especiles</h4>
                            <p>Emergencia 24 hrs.</p>
                        </div>
                    </div>                   
                        
                    </div>
                </div>
            </section>
            <section id="especialidades">
                <div class="container">
                    <div class="espes">
                        <table class="table">
                            <tr>
                                <td>Medicina general <i class="fa-solid fa-user-doctor icon"></i></td>  
                                <td>Endocrinología <i class="fa-solid fa-disease icon"></i></td>  
                            </tr>
                            <tr>
                                <td>Pediatría <i class="fa-solid fa-child icon"></i></td>
                                <td>Ginecología <i class="fa-solid fa-person-pregnant icon"></i></td>
                            </tr>
                            <tr>
                                <td>Obstetricia <i class="fa-solid fa-person-breastfeeding icon"></i></td>
                                <td>Psicología <i class="fa-solid fa-brain icon"></i></td>
                            </tr>
                            <tr>
                                <td>Nutrición <i class="fa-solid fa-utensils icon"></i></td>
                                <td>Odontología <i class="fa-solid fa-tooth icon"></i></td>
                            </tr>
                            <tr>
                                <td>Farmacia <i class="fa-solid fa-capsules icon"></i></td>
                                <td>Laboratorio <i class="fa-solid fa-microscope icon"></i></td>
                            </tr>
                            <tr>
                                <td>Ecografía <i class="fa-solid fa-bed-pulse icon"></i></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="img-espe">
                        <img src="https://cdn-icons-png.flaticon.com/512/7310/7310705.png" alt="img-espe" class="img-espe">
                    </div>
                </div>
            </section>
            <section class="sobre-nosotros" id="sobre-nosotros">
            <h2 class="h2-1">Sobre nosotros</h2>
            <div class="mis-vis">
                <div class="tarjeta">
                    <h4 class="tarjeta-titulo">Mision</h3>
                        <p class="">"Somos un centro de salud que brinda atención integral de salud materno infantil, basada en la familia y la comunidad, con potencial humano integrado 
                            en los procesos de mejora continua con las actividades preventivo promocional 
                            y asistencial, para elevar el nivel de salud con equidad y 
                            oportunidad, logrando la excelencia para un mejor nivel de salud 
                            en la población." </p>
                </div>  
                <div class="tarjeta">
                    <h4 class="tarjeta-titulo">Vision</h4>
                    <p class="">Ser un establecimiento de salud líder de la zona Lima Este, que brinde atención integral con calidad y calidez, que garantice el acceso a la salud en la población de la urbanización popular Miguel Grau y sus alrededores en la que sus habitantes gocen de buenas condiciones de salud física, mental, social y cuyas dimensiones satisfagan a sus usuarios internos y externos. 
                        En el 2023 seremos un centro materno infantil de nivel I-2 especializado con personal calificado, eficiente y centrado en la satisfacción y seguridad del paciente usuario. </p>
                </div>
            </div>           

            </section>
            <hr>
            <section id="contacto">
                <div class="info">
                    <h2 class="h2-1">Ubícanos</h2>
                    <p><i class="fa-solid fa-location-dot icon"></i> Coop. de vivienda Miguel Grau Carretera Central</p>
                    <p><i class="fa-solid fa-phone icon"></i> (01) 743-9889 / Anexo: 4510</p>
                </div>
            </section>
            <hr>
        </main>
        <footer>
            Copyright 2023 - Todos los derechos reservados - Creado por alumnos UTP
            <p><i class="fa-brands fa-facebook icon"></i> <i class="fa-brands fa-instagram icon"></i> <i class="fa-brands fa-twitter icon"></i> </p> 
        </footer>
    </body>
</html>